<li class="admin-season-course" data-course-number="{{course}}">
  <div class="valign-wrapper admin-degree-course">
    <i class="material-icons valign"><a href="">reorder</a></i>
    <div class="center-align admin-course-link valign">
      <a href="">{{course}}</a>
    </div>
    <i class="material-icons valign admin-course-delete-btn"><a href="">clear</a></i>
  </div>
</li>